@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

// COLORS VARIABLES

$color1 : #5B91AB;
$color2 : #395B6B;
$color3 : #7CC8EB;
$color4 : #71B6D6;

// FONT VARIABLES

$font1 : 'Poppins', sans-serif;
$font2 : 'Nunito', sans-serif;

// NAV

nav {
    font-family: $font1;
}