@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Viaoda+Libre&display=swap');

// COLORS VARIABLES

$color1 : #5B91AB;
$color2 : #395B6B;
$color3 : #7CC8EB;
$color4 : #49704E;

// FONT VARIABLES

$font1 : 'Poppins', sans-serif;
$font2 : 'Hind Siliguri', sans-serif;
$font3 : 'Roboto', sans-serif;
$font4 : 'Viaoda Libre', cursive;

// RESET STYLESHEET
*, p, h1, h2, h3, h4, h5, h6, body, html, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


// NAV

nav {
    font-family: $font3;
}

.navbar-brand {
    font-family: $font4;
    font-weight: bold;
}
// .FIRST-SECTION

.first-section {
    color: $color4;
    position: relative;
    font-family: $font2;
    text-align: center;
    width: 100%;
    height: 400px;
    max-width: 1024px;
    margin: auto;
    background-color: #fff;
    padding: 30px 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    justify-content: space-evenly;
    -webkit-box-shadow: inset 0px 0px 16px 4px rgba(125,125,125,0.07); 
    box-shadow: inset 0px 0px 16px 4px rgba(125,125,125,0.07);

    h1 {
        font-family: $font4;
        font-weight: bold;
    }

    img {
        width: 150px;
    }

    p {
        font-family: $font1;
    }
}



// .SECOND-SECTION

.second-section { //section box
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 1200px;
    max-width: 1024px;
    margin: auto;
    padding: 0px 3vw 40px;
    background-color: $color4;
    -webkit-box-shadow: inset 0px 0px 16px 4px rgba(125,125,125,0.07); 
    box-shadow: inset 0px 0px 16px 4px rgba(125,125,125,0.07);
    position: relative;
    color: #fff;
}

.second-section h2 { // title "Qui sommes-nous?"
    font-size: 35px;
    font-family: $font4;
    font-weight: bold;
    text-align: center;
}

.second-section .biography { // text under title
    text-align: justify;
}

.second-section .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.second-section .text img {
    max-width: 150px;
    max-height: 160px;
    filter: invert(1);
}

.second-section .text p {
    width: 80%;
    font-family: $font2;
    text-align: center;
    // font-weight: bold;
}

// THIRD SECTION
.third-section {
    -webkit-box-shadow: inset 0px 0px 16px 4px rgba(125,125,125,0.07); 
    box-shadow: inset 0px 0px 16px 4px rgba(125,125,125,0.07);
    margin: auto;
    width: 100%;
    max-width: 1024px;
    height: 500px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 3vw;
    position: relative;
}

.third-section h2 {
    font-size: 33px;
    padding: 15px 0px;
    font-family: $font4;
    font-weight: bold;
    color: $color4;
    // text-shadow: 2px 2px 5px rgba(0,0,0,0.31);
}

.third-section button {
    text-transform: uppercase;
    width: 270px;
    justify-content: center;
    align-items: center;
    background-color: $color4;
    border-radius: 40px;
    border: none;
    padding: 5px 10px;
    height: 70px;
    font-size: 14px;
}

.third-section img {
    width: 50px;
    height: 50px;    
}

.third-section a {
    font-family: $font1;
    color: #fff;
}

.third-section p {
    text-align: center;
}

// FOURTH-SECTION

.fourth-section {
    background-color: $color4;
    height: auto;
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 3vw;
    margin: auto;
}

.fourth-section h2 {
    font-size: 35px;
    font-family: $font4;
    font-weight: bold;
    margin-bottom: 20px;
    color: #fff;
}

.fourth-section .social-network {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.social-network img {
    width: 40px;
    margin-right: 10px;
}

.social-network a {
    font-family: $font3;
    font-weight: bold;
    color: $color4;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 40px;
    margin-bottom: 15px;
}

.fourth-section p {
    font-family: $font3;
    text-align: center;
    color: #fff;
}

                                                    // MEDIA QUERIES

// TABLET

@media screen and (min-width: 768px) {
    .first-section {

        img {
            width: 250px;
        }

        p {
            font-family: $font1;
            font-size: 22px;
        }
    }

    .second-section {
        height: 700px;
        padding: 3vh 3vw;

        h2 {
            font-size: 45px;
        }

        .text {
            flex-direction: row;
            width: 60%;
            margin: auto;
        }
    }
}

// LAPTOP

@media screen and (min-width: 1024px) {

    .fourth-section {
        background-color: rgba(57, 91, 107, 0.3);
        width: 60px;
        position: fixed;
        top: 50%;
        right: 0;
        z-index: 2;
        transform: translate(0%, -50%);
        border-top-left-radius: 40px;
        border-bottom-left-radius: 40px;

        h2 {
            display: none;
        }

        p {
            display: none;
        }

        img {
            margin-right: 0px;
            width: 30px;
        }

        a {
            font-size: 0px;
            padding: 7px;
            margin-bottom: 5px;
            margin-left: 5px;
            transition: 0.2s ease-in;


            &:hover {
                transition: 0.2s ease-in;
                transform: translate(-5px);
            }
        }
        
        .mail {
            margin-bottom: 0px;
        }
    }
}