@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Viaoda+Libre&display=swap");
*, p, h1, h2, h3, h4, h5, h6, body, html, div {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
}

nav {
  font-family: "Roboto", sans-serif;
}

.navbar-brand {
  font-family: "Viaoda Libre", cursive;
  font-weight: bold;
}

.first-section {
  font-family: "Hind Siliguri", sans-serif;
  text-align: center;
  width: 100%;
  height: 400px;
  max-width: 1024px;
  margin: auto;
  background-color: #fff;
  padding: 30px 3vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.first-section h1 {
  font-family: "Viaoda Libre", cursive;
  font-weight: bold;
}

.first-section img {
  width: 150px;
}

.first-section p {
  font-family: "Poppins", sans-serif;
}

.second-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  height: 1050px;
  max-width: 1024px;
  margin: auto;
  padding: 0px 3vw 40px;
  background-color: #C3E5F5;
}

.second-section h2 {
  font-size: 35px;
  font-family: "Viaoda Libre", cursive;
  font-weight: bold;
  text-align: center;
}

.second-section .biography {
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
  text-align: justify;
}

.second-section .text img {
  max-width: 150px;
  max-height: 160px;
}

.second-section .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second-section .text p {
  width: 80%;
  font-family: "Hind Siliguri", sans-serif;
  text-align: center;
}

.third-section {
  margin: auto;
  width: 100%;
  max-width: 1024px;
  height: 500px;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 3vw;
}

.third-section h2 {
  font-size: 33px;
  padding: 15px 0px;
  font-family: "Viaoda Libre", cursive;
  font-weight: bold;
  color: #000000;
}

.third-section button {
  text-transform: uppercase;
  width: 270px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #C3E5F5;
  border-radius: 40px;
  border: none;
  padding: 5px 10px;
  height: 70px;
  font-size: 14px;
}

.third-section img {
  width: 50px;
  height: 50px;
}

.third-section a {
  font-family: "Poppins", sans-serif;
  color: #000000;
}

.third-section p {
  text-align: center;
}

.fourth-section {
  background-color: #C3E5F5;
  height: 500px;
  width: 100%;
  max-width: 1024px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 3vw;
  margin: auto;
}

.fourth-section h2 {
  font-size: 35px;
  font-family: "Viaoda Libre", cursive;
  font-weight: bold;
  margin-bottom: 20px;
}

.fourth-section .social-network {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.social-network img {
  width: 45px;
  margin-right: 10px;
}

.social-network a {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #000000;
  background-color: #fff;
  padding: 10px 20px;
  border-radius: 40px;
  margin-bottom: 15px;
}
/*# sourceMappingURL=style.css.map */