@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Viaoda+Libre&display=swap');

// COLORS VARIABLES

$color1 : #5B91AB;
$color2 : #395B6B;
$color3 : #7CC8EB;
$color4 : #C3E5F5;

// FONT VARIABLES

$font1 : 'Poppins', sans-serif;
$font2 : 'Hind Siliguri', sans-serif;
$font3 : 'Roboto', sans-serif;
$font4 : 'Viaoda Libre', cursive;

// RESET STYLESHEET
*, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

// NAV

nav {
    font-family: $font3;
}

// .FIRST-SECTION

.first-section {
    font-family: $font2;
    text-align: center;
    width: 100%;
    height: 360px;
    max-width: 1024px;
    margin: auto;
    background-color: $color4;
    padding: 30px 3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    justify-content: center;
}

.first-section h1 {
    font-family: $font4;
    font-weight: bold;
}
.first-section img {
    width: 150px;
}

// .SECOND-SECTION

.second-section { //section box
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 1050px;
    max-width: 1024px;
    margin: auto;
    padding: 0px 3vw 40px;
    background-color: #fff;
}

.second-section span { // title "Qui sommes-nous?"
    font-size: 35px;
    font-family: $font4;
    font-weight: bold;
    text-align: center;
}

.second-section .biography { // text under title
    grid-column: 1 / 5;
    text-align: justify;
}

.second-section .text img {
    max-width: 150px;
    max-height: 160px;
}

.second-section .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.second-section .text p {
    width: 80%;
    font-family: $font2;
    text-align: center;
    // font-weight: bold;
}