@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Viaoda+Libre&display=swap');

// COLORS VARIABLES

$color1 : #5B91AB;
$color2 : #395B6B;
$color3 : #49704E;
$color4 : #C3E5F5;

// FONT VARIABLES

$font1 : 'Poppins', sans-serif;
$font2 : 'Hind Siliguri', sans-serif;
$font3 : 'Roboto', sans-serif;
$font4 : 'Viaoda Libre', cursive;

// RESET STYLESHEET
*, p, h1, h2, h3, h4, h5, h6, body, html, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


// NAV

nav {
    font-family: $font3;
}

.navbar-brand {
    font-family: $font3;
    font-size: 16px;
}

// EVENT SECTION

.event-section {
    // box shadow
    -webkit-box-shadow: inset 0px 0px 15px -1px rgba(0,0,0,0.17); 
    box-shadow: inset 0px 0px 15px -1px rgba(0,0,0,0.17);    
    width: 100%;
    height: auto;
    overflow: hidden;
    text-align: center;
}

.event-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: $color3;

    h2 {
        font-family: $font4;
        font-weight: bold;
    
    }

    .event-description {
        padding: 3vh 0px;
        color: #fff;
    }

    .event-item {
        padding: 30px 10vw;
        height: 500px;
        width: 110vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        font-family: $font3;
        -webkit-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.09); 
        box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.09);
        background-color: #fff;
    }
        
}

.event-item h3 {
    font-size: 22px;
    font-family: $font1;
    font-weight: bold;
    background-color: $color3;
    color: #fff;
    text-transform: uppercase;
    padding: 3px 15px;
}

.event-item img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 3px solid lightgray;
}

.event-item p {
    text-align: center;
    font-family: $font2;
}

.event-item button {
    background-color: $color3;
    color: #fff;
    border: none;
    padding: 5px 20px;
    border-radius: 20px;
    font-family: $font1;
    font-weight: bold;
}

// MEDIA QUERIES

@media screen and (min-width: 1024px) {

    .event-item {
        width: 300px;
    }
}