@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Viaoda+Libre&display=swap');

// COLORS VARIABLES

$color3 : #49704E;

// FONT VARIABLES

$font1 : 'Poppins', sans-serif;
$font2 : 'Hind Siliguri', sans-serif;
$font3 : 'Roboto', sans-serif;
$font4 : 'Viaoda Libre', cursive;

// RESET STYLESHEET
*, p, h1, h2, h3, h4, h5, h6, body, html, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


// NAV

nav {
    font-family: $font3;
}

.navbar-brand {
    font-family: $font4;
    font-weight: bold;
}

// EVENT SECTION

.event-section {
    width: 100%;
    max-width: 1024px;
    margin: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

// EVENT DESC

.ev-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    padding: 10px;
    background-color: $color3;
    color: #fff;

    h2 {
        font-family: $font4;
        font-weight: bold;
        padding: 10px 0px;
    }

    p {
        font-family: $font2;
    }
}


// EVENT ITEM

.ev-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 20px 10px;
    border-bottom: 1px solid lightgray;
    -webkit-box-shadow: inset 0px 0px 5px 3px rgba(214,214,214,0.22); 
    box-shadow: inset 0px 0px 5px 3px rgba(214,214,214,0.22);
    
    h3 {
        padding: 10px 0px;
        font-family: $font4;
        font-weight: bold;
        color: $color3;
    }
    
    
    img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 6px lightgray solid;
    }

    p {
        padding: 15px 0px;
        font-family: $font2;
    }

    span {
        padding: 10px 0px;
    }
    button {
        padding: 5px 15px;
        border: none;
        background-color: $color3;
        color: #fff;
        border-radius: 40px;
        font-size: 1.1rem;
    }
}

// FOURTH-SECTION

.fourth-section {
    background-color: $color3;
    height: auto;
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 3vw;
    margin: auto;
}

.fourth-section h2 {
    font-size: 35px;
    font-family: $font4;
    font-weight: bold;
    margin-bottom: 20px;
    color: #fff;
}

.fourth-section .social-network {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.social-network img {
    width: 40px;
    margin-right: 10px;
}

.social-network a {
    font-family: $font3;
    font-weight: bold;
    color: $color3;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 40px;
    margin-bottom: 15px;
}

.fourth-section p {
    font-family: $font3;
    text-align: center;
    color: #fff;
}


// MEDIA QUERIES

@media screen and (min-width: 1024px) {

    .ev-box {
        padding: 30px 20px;
        display: flex;
        justify-content: space-between;
    }
    
    .ev-desc {
        text-align: center;
    }
    .ev-item {
        width: 320px;
        -webkit-box-shadow: 0px 0px 5px 3px rgba(214,214,214,0.4); 
        box-shadow: 0px 0px 5px 3px rgba(214,214,214,0.4);
        border-radius: 10px;
    }

    .fourth-section {
        background-color: rgba(57, 91, 107, 0.3);
        width: 60px;
        position: fixed;
        top: 50%;
        right: 0;
        z-index: 2;
        transform: translate(0%, -50%);
        border-top-left-radius: 40px;
        border-bottom-left-radius: 40px;

        h2 {
            display: none;
        }

        p {
            display: none;
        }

        img {
            margin-right: 0px;
            width: 30px;
        }

        a {
            font-size: 0px;
            padding: 7px;
            margin-bottom: 5px;
            margin-left: 5px;
            transition: 0.2s ease-in;


            &:hover {
                transition: 0.2s ease-in;
                transform: translate(-5px);
            }
        }
        
        .mail {
            margin-bottom: 0px;
        }
    }
}
