@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Viaoda+Libre&display=swap');

// COLORS VARIABLES

$color1 : #5B91AB;
$color2 : #395B6B;
$color3 : #49704E;
$color4 : #C3E5F5;

// FONT VARIABLES

$font1 : 'Poppins', sans-serif;
$font2 : 'Hind Siliguri', sans-serif;
$font3 : 'Roboto', sans-serif;
$font4 : 'Viaoda Libre', cursive;

// RESET STYLESHEET
*, p, h1, h2, h3, h4, h5, h6, body, html, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


// NAV

nav {
    font-family: $font3;
}

.navbar-brand {
    font-family: $font3;
    font-size: 16px;
}

// EVENT SECTION

.event-section {
    width: 100%;
    max-width: 1024px;
    margin: auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

// EVENT DESC

.ev-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    padding: 10px;
    background-color: $color3;
    color: #fff;

    h2 {
        font-family: $font4;
        font-weight: bold;
        padding: 10px 0px;
    }

    p {
        font-family: $font2;
    }
}


// EVENT ITEM

.ev-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    padding: 20px 10px;
    border-bottom: 1px solid lightgray;
    -webkit-box-shadow: inset 0px 0px 5px 3px rgba(214,214,214,0.22); 
    box-shadow: inset 0px 0px 5px 3px rgba(214,214,214,0.22);
    
    h3 {
        padding: 10px 0px;
        font-family: $font4;
        font-weight: bold;
        color: $color3;
    }
    
    
    img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 6px lightgray solid;
    }

    p {
        padding: 15px 0px;
        font-family: $font2;
    }

    span {
        padding: 10px 0px;
    }
    button {
        padding: 5px 15px;
        border: none;
        background-color: $color3;
        color: #fff;
        border-radius: 40px;
        font-size: 1.1rem;
    }
}

// MEDIA QUERIES

@media screen and (min-width: 1024px) {

    .ev-box {
        padding: 30px 20px;
        display: flex;
        justify-content: space-between;
    }
    
    .ev-desc {
        text-align: center;
    }
    .ev-item {
        width: 320px;
        -webkit-box-shadow: 0px 0px 5px 3px rgba(214,214,214,0.4); 
        box-shadow: 0px 0px 5px 3px rgba(214,214,214,0.4);
        border-radius: 10px;
    }
}
