@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Viaoda+Libre&display=swap');

// COLORS VARIABLES

$color1 : #5B91AB;
$color2 : #395B6B;
$color3 : #7CC8EB;
$color4 : #C3E5F5;

// FONT VARIABLES

$font1 : 'Poppins', sans-serif;
$font2 : 'Hind Siliguri', sans-serif;
$font3 : 'Roboto', sans-serif;
$font4 : 'Viaoda Libre', cursive;

// RESET STYLESHEET
*, p, h1, h2, h3, h4, h5, h6, body, html, div {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


// NAV

nav {
    font-family: $font3;
}

.navbar-brand {
    font-family: $font3;
    font-size: 16px;
}

// EVENT SECTION

.event-section {
    // box shadow
    -webkit-box-shadow: inset 0px 0px 15px -1px rgba(0,0,0,0.17); 
    box-shadow: inset 0px 0px 15px -1px rgba(0,0,0,0.17);    width: 100%;
    height: 800px;
    padding: 20px 2vw;
    overflow: hidden;
}

.event-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-family: $font4;
        font-weight: bold;
    
    }

    .event-item {
        margin-top: 20px;
        padding: 10px 10vw;
        border: 1px solid lightgray;
        height: 400px;
        width: 110vw;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        font-family: $font3;
    }
}

.event-item h3 {
    font-size: 22px;
    font-family: $font4;
    font-weight: bold;
}

.event-item img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 3px solid lightgray;
}

.event-item p {
    text-align: center;
    font-family: $font2;
}

.event-item button {
    border: none;
    padding: 5px 20px;
    border-radius: 20px;
    background-color: $color4;
    font-family: $font2;
}